{% extends 'movies/base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
            {% if study_stage == 1 %}
            <h3 class="card-title">Almost there!</h3>
            <p>The only remaining part is the post-study feedback for phase one!</p>
            {% elif study_stage == 2 %}
            <h3 class="card-title">Almost there!</h3>
            <p>The only remaining part is the post-study feedback for phase two!</p>
            {% endif %}


            <p class="card-text">Please give us any sort of feedback you can think of regarding the system, user experience, study design, 
                or any other aspect! We will use your valuable response to improve future studies.</p>
            
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" id="feedback" name="feedback" rows="4" maxlength="300"></textarea>
                    <small class="text-muted" id="char-count">Characters left: 300</small>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
    const feedbackTextarea = document.getElementById("feedback");
    const charCount = document.getElementById("char-count");
  
    feedbackTextarea.addEventListener("input", function () {
      const remainingChars = 300 - feedbackTextarea.value.length;
      charCount.textContent = `Characters left: ${remainingChars}`;
    });
  
    feedbackTextarea.addEventListener("keyup", function () {
      if (feedbackTextarea.value.length > 300) {
        feedbackTextarea.value = feedbackTextarea.value.substring(0, 300);
        charCount.textContent = "You have reached the character limit!";
      }
    });
</script>


{% endblock %}