{% extends 'movies/base.html' %}



{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Welcome to the Information Retrieval Movie Recommendation!</h3>


          <p class="card-text" style="text-align: justify;">
            As you have seen in the tutorial, this study consists of three main parts. You can access each part
            from the dropdown menu in the top right corner of the page:
            <br>
            <strong>1. Judge Movies:</strong>
            Based on your rating profile, you will be recommended a set of movies. For each movie, there are a few
            questions that you need to answer.

            <br>
            <strong>2. View Judged Movies:</strong>
            You can always review the movies you have already judged in the system. You can even modify your answers by
            clicking on the movie title.

            <br>
            <strong>3. Final Ranking:</strong>
            In the last step, we will ask you to choose your top movies from all the recommendations. Please note
            that this step will only be unlocked once you have judged all the recommended movies.
          </p>
          <hr>


          {% if remaining_judge_actions != 0 %}
          <p class="card-text">Looks like you already handled the quiz, so please judge the following movies:</p>
          <a href="{% url 'movie_judge' %}" class="btn btn-primary btn-lg btn-block">Judge movies</a>
          {% else %}
          <p class="card-text">You are done with the recommendation judgement phase! Only the final ranking left:</p>
          <a href="{% url 'final_ranking' %}" class="btn btn-primary btn-lg btn-block">Choose Your Top Picks</a>
          {% endif %}




        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}