{% extends 'movies/base.html' %}



{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Judgement finished!</h3>
          <p class="card-text">You are done with the recommendation judgement section!</p>
          <p class="card-text">If you want, you can take a look at the list of judged movies by clicking on the button below. You can also choose to edit each one of the judged movies:</p>
          <a href="{% url 'movie_list' %}" class="btn btn-primary btn-lg btn-block">Judged Movie List</a>

          <hr>

          <p class="card-text">Alternatively, you can go to the final ranking directly:</p>
          <a href="{% url 'final_ranking' %}" class="btn btn-primary btn-lg btn-block">Final Ranking</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}