<title>{% block title %}IRMrec{% endblock %}</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet"
    type="text/css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-top: 1px; padding-bottom: 1px;">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'home' %}">IRMrec</a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
            aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>


<div class="container">
    <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
    </ol>
    {% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Evaluation of Recommendation Systems Research Study</h3>


                        <p class="card-text" style="text-align: justify;">
                            <br>
                            Thank you for your interest in our research study. We are a research group at the University
                            of Waterloo led by Prof. Mark Smucker. This study is part of the Master's thesis work of
                            Houmaan Chamani and has been reviewed and received clearance through a University of
                            Waterloo Research Ethics Board.
                        </p>
                        <hr>

                        <p class="card-text" style="text-align: justify;">
                            <strong>Goals of the Study: </strong>
                            <br>
                            In order to improve recommendation systems, we need to be able to accurately measure their
                            quality. Our study aims to improve researchers' ability to measure recommendation system
                            quality by collecting from participants, such as you, movie ratings and feedback beyond what
                            you have already provided to Movielens. Our study works by first collecting from you your
                            current Movielens ratings, and then we use your ratings to generate recommendations from a
                            large number of different recommender algorithms. We then have you rate and give feedback on
                            these recommendations so that we can measure the quality of these and future recommendation
                            algorithms. The data we collect will form a long term resource available to researchers to
                            advance the study of recommendation systems.
                            <br>
                        </p>
                        <p class="card-text">
                            <strong>Summary of Participation Requirements and Remuneration: </strong>
                        </p>
                        <ul class="procedure-list">
                            <li>To participate in the study, you must be 18 or older and a resident of the United States
                                or Canada.
                            </li>
                            <li>The study has two phases. The first phase will take you about 1.5 hours of time. The
                                second phase is optional and may take up to an additional 5 hours of time.
                            </li>
                            <li>To thank you for participating in the first phase, we will give you an Amazon e-gift
                                card of $30 CAD or $23 US depending on whether you are a resident of the US or Canada.
                            </li>
                            <li>If you participate in the second phase of the study, we will give you an Amazon e-gift
                                card worth $15 US or $20 CAD per hour.</li>
                        </ul>


                        <p class="card-text" style="text-align: justify;">
                            <strong>Expression of Interest: </strong>
                            <br>
                            If you are interested in participating in our study, please submit your information below,
                            and we'll be in touch shortly with further details. Submission of your information below
                            does not oblige you to participate nor does it give your consent, i.e. you are merely
                            expressing your interest in the study and requesting further information.
                            <br>
                        </p>


                        <form method="post">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="fullName" class="form-label">Full Name:</label>
                                <input type="text" class="form-control" id="fullName" name="full_name" required>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Email Address:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>

                            <div class="mb-3">
                                <label for="age" class="form-label">Age:</label>
                                <input type="number" class="form-control" id="age" name="age" required>
                            </div>

                            <div class="mb-3">
                                <label for="country" class="form-label">Country of Residence:</label>
                                <input type="text" class="form-control" id="country" name="country" required>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>

                            {% if form.errors %}
                            <div class="alert alert-danger mt-3">
                                {% for field in form %}
                                {% for error in field.errors %}
                                <p>{{ field.label }}: {{ error }}</p>
                                {% endfor %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </form>

                        <hr>

                        <p class="card-text" style="text-align: justify;">
                            <strong>Contact Information: </strong>
                            <br>
                        <p>Student Investigator: <a href="mailto:h2chaman@uwaterloo.ca">Houmaan
                                Chamani</a>
                        </p>
                        <p>Faculty Supervisor: <a href="mailto:mark.smucker@uwaterloo.ca">Prof. Mark
                                D. Smucker</a>
                        </p>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>