{% extends 'movies/base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          {% if study_stage == 1 %}
          <h3 class="card-title">Thank you for completing phase one!</h3>
          <p class="card-text">You have successfully completed phase one of the Evaluation of Recommendation Systems
            Research Study.</p>
          <p class="card-text">To receive reimbursement for your time, send an email to <a
              href="mailto:h2chaman@uwaterloo.ca">h2chaman@uwaterloo.ca</a> using the email you signed up for the study
            with. Please make sure to include your participant ID
            in the body of the email. </p>
          <p class="card-text"><strong>Also, </strong>if you are interested in participating in phase two, which
            involves the assessment of approximately 400 to 700 more movies, please let us know in your email. We will
            contact you
            if you
            are selected for phase two.</p>
          {% elif study_stage == 2 %}
          <h3 class="card-title">Congratulations! You have completed the Evaluation of Recommendation Systems Research
            Study!</h3>
          <p class="card-text">You have successfully completed both phases of the study.</p>
          <p class="card-text">To receive reimbursement for your time, send an email to <a
              href="mailto:h2chaman@uwaterloo.ca">h2chaman@uwaterloo.ca</a> using the email you signed up for the study
            with. Please make sure to include your participant ID
            in the body of the email. </p>
          <p class="card-text">Thank you for your time and participation in the study!</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}