{% extends 'movies/base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
            <h3 class="card-title">Congratulations!</h3>
            <p class="card-text">You have completed the IRMrec study. Thank you for your participation!</p>
            <p class="card-text">To finalize your participation, please fill out the <a href=https://docs.google.com/forms/d/e/1FAIpQLSfPVYMljcabm0ZOxM0wuV5G1YDO6xDMqVqgudMHFZRIvBJlQQ/viewform?usp=sf_link" target="_blank">post-study questionnaire.</a> Your feedback is valuable to us.</p>
            <p class="card-text">Finally, to receive reimbursement, please send an email to 
                <a href="mailto:h2chaman@uwaterloo.ca">h2chaman@uwaterloo.ca</a> 
                with your contact details. We will handle the reimbursement process from there.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
